[Desktop Entry]
Name=Caffeine
Comment=Prevent system sleep and screen lock
Type=Application
Exec=cosmic-caffeine
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;caffeine;sleep;power;inhibit;
Icon=com.github.cosmic-caffeine
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
